@charset "UTF-8";
/* CSS Document */
body{
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	line-height:1.5;
	font-size:15px;
	background-color:#DDEDF3;
	padding:0;
	margin:0;
}

/*Global*/
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}
.button1 {
	height: 38px;
	background: #5EBCE9;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	font-size: 15px;
}

/*header*/
header{
	text-align: center;
	background-color: #5EBCE9;
	color: #FFFFFF;
	padding: 10px;
	min-height: 70px;
	border-bottom: #FFFFFF 3px solid;
	text-transform: uppercase;
	position: fixed;
}

/*navigation*/
nav ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
 	overflow: hidden;
	background-color: #5EBCE9;
	position: fixed;
	border-bottom:#FFFFFF 3px solid;
}
nav li {
	display: inline;
	float: left;
}
nav a {
  	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li a:hover {
  	background-color: #ADDCEE;
}

footer{
	text-align: center; 
	background-color: #5EBCE9;
	color: #FFFFFF;
	padding: 10px;
	border-color: #FFFFFF;
	text-transform: uppercase;
}

/*media queries*/
@media(max-width: 768px){
	nav li,
	nav a,
	nav ul{
		float: none;
		text-align: center;
		width: 100%;
	}
}